body {
border: ridge 20px #DAA520;
z-index: 2; 
}
.centered-container {
position: relative; 
width: 54%;
margin-left: 24%; 
margin-top: 12%;
margin-bottom: 2%;
z-index: 2;
}
#trophy {
margin: 0;
}
#name-head {
text-align: center; 
margin-top: 20px; 
font-size: 58px; 
font-family: sans-serif;
}
#m-paragraph {
text-align: center; 
font-size: 20px;
font-family: sans-serif;
margin-top: 110px; 
background-color: #DAA520; 
margin-left: 146px; 
margin-right: 146px;
}
.buttons {
margin-right: 15px; 
}
#a-container {
height: 400px; 
position: relative;
z-index: 1; 
}
#confetti {
width: 10px;
height: 35px;
position: absolute;  
z-index: 1;
left: 300px;
top: 80px;   
}
#confetti1 {
width: 10px;
height: 35px; 
position: absolute; 
z-index: 1; 
left: 600px; 
top: 16px; 
}
#confetti2 {
width: 10px;
height: 35px;
position: absolute;
z-index: 1;
left: 550px; 
top: 111px; 
}
#confetti3 {
width: 10px;
height: 35px;
position: absolute; 
z-index: 1; 
left: 750px;
top: 60px; 
}
#confetti4 {
width: 10px;
height: 35px;
position: absolute;
z-index: 1; 
left: 480px; 
}
#confetti5 {
width: 10px;
height: 35px;
position: absolute; 
z-index: 1; 
left: 900px;
top: 90px; 
}
#confetti6 {
width: 10px;
height: 35px;
position: absolute;
z-index: 1; 
left: 400px;
top: 100px;
}
#confetti7 {
width: 10px;
height: 35px;
position: absolute;
z-index: 1; 
left: 150px;
top: 65px; 
}
#confetti8 {
width: 10px;
height: 35px;
position: absolute;
z-index: 1; 
left: 250px;
top: 20px; 
}
#confetti9 {
width: 10px;
height: 35px;
position: absolute; 
left: 200px;
top: 10px; 
}
#red-balloon {
position: absolute;
left: 800px;
top: 20px;
}
#yellow-balloon {
position: absolute;
left: 300px;
top: 30px;
}
#blue-balloon {
position: absolute;
left: 100px;
top: 10px; 
}
#main-body {
position: relative;
z-index: 2;
top: -400px;
margin-bottom: -400px;  
}
#music {
position: relative;
left: 36%;
z-index: 2; 
}
