body {
border: ridge 20px #DAA520;
z-index: 2; 
}
.centered-container {
height: 100%; 
display: flex; 
align-items: center; 
justify-content: center; 
}
#trophy {
margin: 0;
}
#name-head {
text-align: center; 
margin-top: 20px; 
font-size: 58px; 
font-family: sans-serif; 
}
